@import 'src/styles/vars';


// == Mobile
@media screen and (min-width: 320px) {
  .testing1 {
    width: 90%;
    //background-color: yellow;
    
  }

  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgb(175, 175, 238);
    background: url('https://www.xtrafondos.com/wallpapers/montanas-en-bosque-minimalista-flat-3306.jpg') center no-repeat;
    background-size: cover;
    padding-top: 3rem;
    min-height: 100vh;
    min-width: 100%;

    &-left {
      background-color: #fff;
      width: 95%;
      margin: 3rem auto;
      display: flex;
      flex-direction: column;
      padding: 3rem 2rem;
      border-radius: 5px;

      &-title {
        text-align: center;
        font-family: $font-inter;
        font-weight: bold;
      }

      &-subtitle {
        text-align: center;
        font-family: $font;
        font-weight: bold;
        font-size: 1.5rem;
        color: rgb(88, 88, 88);
      }

      &-input {
        border: none;
        border-radius: 5px;
        padding: .5rem;
        width: 100%;
        margin: .8rem 0;
        background-color: rgb(245, 245, 245);

        &::placeholder {
          font-family: $font;
          font-size: .9rem;
        }

      }

      &-label {
        font-family: 'Lato';
        font-size: 1rem;
        color: rgb(109, 109, 109);
        font-size: .8rem;
        
      }

      &-button {
        border: none;
        border-radius: 100px;
        padding: .7rem;
        width: 100%;
        margin: 1rem 0;
        font-family: 'Lato';
        color: white;
        background-color: rgb(124, 79, 196);
      }

      &-choice {
        font-size: 1.1rem;
        margin-right: 1rem;
        font-family: $font;
      }

    }

    &-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      background-color:  rgb(236, 224, 255);
      padding: .7rem;
      border-radius: 100px;
      border: solid 1px rgb(176, 152, 214);

      &-desktop {
        display: none;
      }

      &-subscribe {
        font-family: 'Lato';
        margin-right: .3rem;
        font-size: .8rem;
        
      }

      &-link {
        font-family: 'Lato';
        font-weight: bold;
        font-size: .8rem;
        color:rgb(99, 61, 161);
      }
    }




  }


}

// == Tablet
@media screen and (min-width: 768px) {
  .testing1 {
    width: 90%;
    background-color: rgb(100, 62, 161);
    display: flex;
    position: relative;  
    //border-radius: 10px;
    overflow: hidden;
         
  }

  .signup {

    

    &-left {
      width: 50%;
      margin: 0;
      border-radius: 0;

      &-title {
        display: none;
      }

      &-subtitle {
        margin-bottom: 1rem;
      }

      

    }

   

    &-right {

      display: none;

      &-desktop {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem ;
        //background-color: red;
        width: 50%;
        

      }

      &-img {
        display: block;
        position: absolute;
        object-fit: cover;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: .3;

      }

      &-title {
        
        position: relative;
        z-index: 2;
        font-size: 2rem;
        
      }

      &-link {
        color: white;
        position: relative;
        padding: .5rem 1.5rem;
        transition: .4s;
        font-family: $font-inter;
        font-size: 1rem;
        font-weight: normal;

        &:hover {
          color: rgb(88, 39, 167);
          text-decoration: none;
          background-color: #fff;
          border-radius: 100px;
          padding: .5rem 1.5rem;
        
          
        }

      

      }

    }
  }  

}

// == Desktop
@media screen and (min-width: 992px) {
  .testing1 {
    width: 900px;
    height: 570px;

  }

  .signup {
    &-left-field {
      align-items: center;
     //background-color: green;

    }
    &-left-choice {
        //background-color: red;
        margin-bottom: 2px;
        font-size: 1.2rem;
       
    }

  }

}




















// .signup {
//   width: 750px;
//   height: 500px;
//   border: 1px solid lightgray;
//   margin: auto;
//   margin-top: 1em;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   box-shadow: 4px 2px 20px 0px #bfb3b3;
//   border-radius: 5px;

//   &-right {
//     display: flex;
//     width: 50%;
//     background-image: url('https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
//     background-position: center;

//     &-link {
//       align-self: flex-end;
//       margin: 0 auto;
//       padding-bottom: 30px; 
//       color: #ffffff;
//       font-size: 1.3em;
//       font-weight: bold;

//       &:hover {
//         color: #ffffff;
//       }
//     }
//   }

//   &-left {
//     width: 50%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     padding: 1em;

//     &-field {
//       position: relative;

//       &-img {
//         position: absolute;
//         bottom: 7px;
//       }
//     }

//     &-title {
//       text-align: center;
//     }

//     &-input {
//       border: none;
//       border-bottom: 1px solid gray;
//       width: 100%;
//       padding-left: 30px;

//       &:focus {
//         transition: 0.5s;
//         border-bottom: 2px solid lightskyblue;
//       }
//     }

//     &-radio {
//       display: inline;
//       margin-right: 2em;
//     }

//     &-label {
//       padding-left: 10px; 
//       font-size: 0.8em;
//     }

//     &-button {
//       border-radius: 4px;
//       background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
//       border: none;
//       color: #FFFFFF;
//       text-align: center;
//       text-transform: uppercase;
//       font-size: 20px;
//       padding: 10px;
//       width: 150px;
//       transition: all 0.4s;
//       cursor: pointer;
//       margin: 5px;
//       align-self: center;

//       &:hover {
//         color: #494949;
//         border-color: #494949;
//         }
//     }

//     &-forgot {
//       color: red;
//       text-decoration: underline;
//       text-align: center;
//       font-size: 0.7em;

//       &:hover {
//         color: darken($color: red, $amount: 30%)
//       }
//     }
//   }
// }

// @media screen and (max-width: 770px) {
//   .signup {
//     width: 325px;

//     &-right {
//       display: none;
//     }

//     &-left {
//       width: 100%;
//     }
//   }
// }
