.signin {
  width: 750px;
  height: 500px;
  border: 1px solid lightgray;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 4px 2px 20px 0px #bfb3b3;
  border-radius: 5px;

  &-left {
    display: flex;
    width: 50%;
    background-image: url('https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;

    &-link {
      align-self: flex-end;
      margin: 0 auto;
      padding-bottom: 30px; 
      color: #ffffff;
      font-size: 1.3em;
      font-weight: bold;

      &:hover {
        color: #ffffff;
      }
    }

    &-forgotten_image {
      width: 50%;
      background-image: url('https://images.pexels.com/photos/2859169/pexels-photo-2859169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-position: center;
    }
  }

  &-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;

    &-field {
      position: relative;

      &-img {
        position: absolute;
        bottom: 7px;
      }
    }

    &-title {
      text-align: center;
    }

    &-input {
      border: none;
      border-bottom: 1px solid gray;
      width: 100%;
      padding-left: 30px;

      &:focus {
        transition: 0.5s;
        border-bottom: 2px solid lightskyblue;
      }
    }

    &-label {
      padding-left: 10px; 
    }

    &-button {
      color: #20bf6b;
      text-transform: uppercase;
      background: #ffffff;
      padding: 10px;
      border: 4px solid #20bf6b;
      border-radius: 6px;
      display: inline-block;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #494949;
        border-radius: 50px;
        border-color: #494949;
        transition: all 0.3s ease 0s;
        }
    }

    &-forgot {
      color: red;
      text-decoration: underline;
      text-align: center;
      font-size: 0.7em;

      &:hover {
        color: darken($color: red, $amount: 30%)
      }
    }

    &-change {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      background: #ed3330;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      transition: all 0.4s ease 0s;
    }
  }
}

@media screen and (max-width: 770px) {
  .signin {
    width: 375px;

    &-left {
      display: none;

      &-forgotten_image {
        display: none;
      }
    }

    &-right {
      width: 100%;
    }
  }
}
