@media screen and (min-width: 320px) {
  .navbar-desktop {
    display: none;
  }

  /* Header de la page profil */
  .header-profile {
    background-color:#263F68;
    padding-top: 6rem;
    
    &-avatar {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      display: block;
      margin-top: 1em;
    }

    &-text-welcome {
      color: #fff;
      padding: 0.8rem 1rem 3rem;
      text-align: center;

      &-role {
        background-color: lighten(#263f68, 10%);
        color: #eee;
        padding: 0.3rem 0.5rem;
        margin-top: 0.5rem;
      }
    }
  }

/* Icone desktop pour écrire une histoire */
  .write-story-desktop-wrapper {
    display: none;
  }

  /* Bouton au dessus du menu déroulant */
  .wrapper-button {
    display: flex;
    justify-content: center;
    padding: 1.4rem 0;
  }
  .button-createstory {
    border-radius: 5px;
    background-color: lighten(#1F2432, 5%);
    border:1px solid #fff;
    margin:-3rem;
    height: 3rem;
    padding: 0;
      
    &-text {
      color: #fff;
      line-height: 2rem ;
      padding: 1rem 2rem;
      font-size: 1.1rem;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }


  .animation-menu {
    padding-bottom: 5rem;
    margin-top: 2rem;
  }

  /* Menu déroulant : modifier les infos */
  .toggle-button {
    text-align: center;
    height: 4.7rem;
    background-color: lighten(#263F68, 15%);
    margin: 0.5rem 1rem;
  }

  .toggle-button-text {
    color:#fff;
    font-size: 1.2rem;
    width: 100%;
  }

  .toggle-button-text:focus {
    color:#fff;
    font-size: 1.2rem;
    outline: none;
    text-decoration: none;
  }


  /* Menu déroulant : intérieur des cards */
  .card-content-text {
    margin-top: 0;
    padding-top: 0;
  }

  .change-button-form {
    margin: 1rem 0 2rem;
    background-color: #292f42;
    border-color: #292f42;
    color: #fff;
    border:none;
    width: 6rem;
    padding: 0.3rem;
    border-radius: 5px;
  }

  /* Menu déroulant : Les histoires créées */
  .card-story-profile-wrote {
    border-bottom: 0.04rem solid black;
    margin: 0px;

    &:last-child {
      border-bottom: none;
    }
  }

  .menu-story {

    &-image {
      margin: 2em auto 0;
      width: 98%;
      box-shadow: 6px 6px 3px 1px rgba(0, 0, 0, .2);
    }
    
    &-written {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    }

    &-title {
      margin: 0;
      text-align: center;
      font-size: 1.3rem;
    }

    &-buttons {
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
    }

    &-delete {
      margin: 1rem 0 2rem;
      background-color: #fff;
      border-color: #292f42;
      padding: 0.375rem 0.75rem;
      color: #292f42;
      border-radius: 0.25rem;
    }

    &-modify {
      margin: 1rem 0 2rem;
      background-color: #292f42;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      color: #fff;
      border-radius: 0.25rem;
    }
  }

  /* Menu déroulant : Les histoires lues */
  .menu-story-wrapper-read {
    background-color: transparent;
    border: none;
  }

  /* Menu déroulant : Les Badges */
  .pins-content {
    display: flex;
    margin-top: 1.4rem;
    margin-left: 15%;

    &-image {
      width: 150px;
      height: 150px;
    }

    &-info {
      display: flex;
      align-items: center;
    }

    &-badge {
      height: 20px;
    }
  }
}


@media screen and (min-width: 768px) {
/* Menu déroulant : Le formulaire pour modifier ses infos */
  .form-change-info {
    width: 90%;
    font-size: 1.3rem;
    margin-right: auto;
    margin-left: auto;

    &-label {
      font-size: 1.3rem;
    }

    &-file {
      font-size: 1rem;
    }
  }
  .change-button-form {
    width: 7rem;
    font-size: 1.1rem;
  }

/* Menu déroulant : Les histoires créées et lues */
  .menu-story {

    &-image {
      width: 90%;
    }

    &-title {
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    &-delete {
      width: 9rem;
    }

    &-modify {
      width: 9rem;
    }
  }

  .menu-story-wrapper-read {
    border: none;
  }

/* Menu déroulant : Les Badges */
  .pins-content {
    display: flex;
    font-size: 1.5rem;
    margin-left: auto;

    &-image {
      width: 150px;
      height: 150px;
    }

    &-badge {
      height: 30px;
    }

    &-info {
      display: block;
    }
  }

  .badge-ipad {
    display: flex;
    justify-content: space-evenly;
  }
} 

@media screen and (min-width: 992px) {
/* Menu mobile */
  .navbar-mobile {
    display: none;
  }

/* Menu desktop */
  .navbar-desktop {
    display: block;
  }

/* Correctif bug footer */
  .footer {
    margin-top: 5rem;
  }

/* Button mobile pour écrire une histoire */
  .wrapper-button {
    display: none;
  }

  .profile-general-display {
    height: 94vh;
  }

/* Icone desktop pour écrire une histoire */
  .write-story-desktop-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    margin-bottom: -1.4rem;

    &-icon {
      background-color: lighten(#1F2432, 5%);
      color: #fff;
      border-radius: 30px;
      border: none;
      font-size: 1.8rem;
      width: 50px;
      height: 50px;
      padding: 0.5rem;
      line-height: 2rem;

      &:hover {
        box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
        background-color: #9c27b0;
      }
    }
  }

/* Bandeau Header avec l'avatar */
  .header-profile {
    padding-top: 4rem;

    &-avatar {
      width: 200px;
      height: 200px;
      margin-bottom: 2rem;
      box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      transform: translate3d(0, 70%, 0);
    }

    &-text-welcome {
      background-color: #fff;
      color: #000;

      &-name {
        margin-top: 5rem;
        background-color: none;
        color: #232323;
      }

      &-role {
        background-color: #fff;
        color: #232323;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }

    .link-svg {

      &:hover {
        color: #fff;
      }
    }
  }

/* Boutons menu profil */
  .flex-column-menu-desktop {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: auto;
    margin-right: auto;


    &-button {
      background-color: lighten(#1F2432, 5%);
      color: #fff;
      border-radius: 5px;
      border: none;
      width: 20%;
      padding: 0.5rem;
      line-height: 2rem;
      text-align: center;

      &:hover {
        box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
        background-color: #9c27b0;
        color: #fff;
        text-decoration: none;
      }
      
    &-selected {
      background-color: #9c27b0;
      color: #fff;
      text-decoration: none;
    }
    }
  }

  // tri des histoires
  .sorted-stories {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 1em;

    &-link {
      background-color: lighten(#1F2432, 5%);
      color: #fff;
      border-radius: 5px;
      border: none;
      width: 20%;
      padding: 0.2rem;
      line-height: 2rem;
      text-align: center;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &-selected {
        background-color: #9c27b0;
        color: #fff;
        text-decoration: none;
      }
    }
  }

 /* Formulaire changer ses infos */
  .form-change-info {
    width: 60%;
    font-size: 1.3rem;
    margin-right: auto;
    margin-left: auto;
  }

/* Menu déroulant : Les histoires créées */
  .card-story-profile-wrote {
    border-bottom: none;
    width: 50%;
    display: inline-flex;
  }

/* Menu déroulant : Les histoires créées et lues */
  .menu-story-image {
    width: 70%;
  }

  .menu-story-written {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  /* Menu déroulant : Les Badges */
  .pins-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem;

    &-info, &-image {
      height: 150px;
      width:  150px;
    }
  }
}

@media screen and (min-width: 1200px) {
  
/* Bouton écrire une histoire desktop */
  .write-story-desktop-wrapper {
    margin-right: 35%;
  }
}


@media screen and (min-width: 1400px) {
  
/* Barre de menu desktop */
  .flex-column-menu-desktop {
    width: 60%;
  }

  .form-change-info {
    width: 50%;
  }

  /* Menu déroulant : Les histoires créées et lues */
  .menu-story-image {
    width: 50%;
  }

  .menu-story-written {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
