@import 'src/styles/vars';
  .image {
    height: 450px;
  }
  
  .cards-group {
    margin: 6rem 1.5em;
  }
  
  .categories-title {
    font-size: 2em;
    text-align: center;
    margin: 2rem 0;
  }

  .categories-header {
      position: relative;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;

    &-content {
      position: relative;
      z-index: 1;
    }
    
    &-title {
      color: white;
      font-family: $font-futura;
      text-transform: uppercase;
      text-align: center;
      font-size: 3rem;
    }

    &-text {
      color: white;
      text-align: center;
    }

    &-image {
      position: absolute;
      object-fit: cover;
      top:0;
      opacity: .4;
      height: 100%;
    }
  }


@media screen and (max-width: 750px) {
  .image {
    height: 200px;
  }

  .test1 {
    display: block;
  }

  .test2 {
    padding: 0;
  }
}
