.card {
  border: 0;

  &-image-category {
    max-height: 350px;
    // border-radius: 3%;
    box-shadow: 4px 2px 20px 0px #9e9494;
    // margin-top: 2em;
  }


  &-text-front {
    position: absolute;
    margin-top: 200px;
    color: #fff;
    margin-left: 20px;

    &-author {
      font-size: 0.7em;
      color: #eee;
      font-style: italic;
    }
  }

  &-title {
    position: absolute;
    margin-top: 10px;
    color: #fff;
    margin-left: 20px;
  }

  &-link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #fff;

    &:hover {
      background-color: #ffffff;
      color: #000;
      border-radius: 0.4rem;
      padding: 0.2rem 0.5rem;
      transition: .8s;
      opacity: 0.6;
    }
  }

  &-text-back {
    position: absolute;
    font-size: 0.9em;
    margin-top: 60px;
    color: #fff;
    margin-left: 20px;
  }
}



@media screen and (max-width: 800px) {
  .container-flippy{
    margin-top: 2em;
  }
}
