// == Import fonts

@import url('https://rsms.me/inter/inter.css');
@import url('//db.onlinewebfonts.com/c/47f756de26af5b273193216c32a3ab75?family=Futura');
@import url("https://use.typekit.net/hly5jtw.css");
@import url('https://rsms.me/inter/inter.css');

// == Fonts 
 $font-inter: 'Inter';
 $font : 'aileron'; 
 $font-futura: 'Futura';


 //  == Colors
 $grey-title: #2c2e30;
 $grey-text : #54565a;
 $violet : #7a55b1;


 
 
 // == Variables SCSS
