

.body {

  &-title {
    text-align: center;
    font-size: 3em;
    padding-top: 1rem;
    margin-bottom: 5rem;
    background-color: blueviolet;
  }
}

.team {
  width: 900px;
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
  
  &-info {
    width: 300px;
    border: 1px solid #eee;
    padding: 2rem;
    display: flex;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 4px 2px 20px 0px #9e9494;

    &-description {
      font-size: 0.8em;
      list-style: circle;
    }

    &-title {
      margin: 2rem 0;
      text-align: center;
    }

    &-link {
      font-size: .7em;
    }
  }

  &-image {
    width: 190px;
    height: 190px;
    margin-top: -6rem;
    box-shadow: 4px 2px 20px 0px #9e9494;
  }
}


@media screen and (max-width: 976px) {
.team {
  width: 550px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &-info {
    margin-top: 6rem;
  }

  &-image {
    width: 150px;
    height: 150px;
    // padding-top: -3rem;
    margin: -5rem auto 0;
  }
}
}

@media screen and (max-width: 414px) {
  .team {
    width: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-info {
      // margin: 2rem auto;
    }
  
    &-image {
      width: 100px;
      height: 100px;
    }
  }
  }
