// == Import variables
@import 'src/styles/vars';


// == Size Mobile
@media screen and (min-width: 320px) {

  .image-team {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;

  
    &-title{
      position: relative;
      font-family: $font-inter;
      font-weight: bold;
      margin-top: 5rem;
      z-index: 1;
      color: white;
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  
    &-descrip {
      position: relative;
      font-family: $font-inter;
      z-index: 1;
      color: white;
      font-size: 1rem;
    }
    
  
    &-contact {
      position: absolute;
      object-fit: cover;
      height: 100%;
      opacity: .4;
      top:0
    }
  
    
  }
  

  .team {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  
      &-info {
        width: 80%;
        margin: auto;
        padding: 2rem;
        border: 1px solid lighten($grey-text, 40%);
        //box-shadow: 4px 2px 10px 0px #9e9494;
        margin-top: 3rem;
  
        &-title {
          text-align: center;
          font-family: $font-inter;
          font-size: 1.7rem;
          font-weight: 700;
          margin: 2rem 0;
        }
  
        &-description {
          
          &-li {
            margin-bottom: 1rem;
            font-family: $font-inter;
            font-size: 1rem;
            font-weight: bold;
            color:lighten($grey-text, 20%);
          }
        }
  
        &-link {
          color: lighten($violet, 5%);
          font-family: $font-inter;
          font-size: .85rem;
          font-weight: bold;
          transition: .3s;

  
          &:hover{
            text-decoration: none;
            color: darken($violet, 5%);
          }
        }
      }
  
      &-image {
        width: 200px;
        height: 200px;
        margin-top: -3.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
      }
   }
  
}

// == Size Tablet
@media screen and (min-width: 768px) {

  .image-team {
    height: 450px;

    &-title {
      font-size: 2.5rem;
    }
  }
  .team-info {
    width: 60%;
  }

}

// == Size Desktop
@media screen and (min-width: 992px) {
  .team {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 5rem;

    &-info {
      width: 450px;
     
    }
  }

  .image-team {
     
    &-title {
     font-size: 3.5rem;
     
    }

    &-descrip {
      font-size: 1.3rem;
    }
   }
}

