.nav {
  //color: gray;
  color: black;
  margin-right: 1em;
  font-size: 16px;
  transition: .4s;

  &-disco {
    color: white;
    margin-right: 1em;
    font-size: 16px;
    transition: .4s;
  }

  &:hover {
    //color: darken(gray, 20%);
    text-decoration: none;
    color: black;
  }

  &-selected {
    font-weight: 600;
    
  }

}



