// Size for mobile

@media screen and (min-width:320px) { 

    
    .card-story-category {
        height: 50vh;
        position: relative;
        width: 100%;
        background-color: black; 
        margin: 30px auto;
        border-radius: 30px;  
        box-shadow: rgb(82, 82, 82) 5px 5px 30px;
        cursor: pointer;
        transition: .4s;
        padding: 0;
        overflow: hidden;

        &-title {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
            transition: .5s;
        }
    
        &-descrip {
            color: white;
            position: absolute;
            top: 0px;
            transition: .5s;
            opacity: 0;
        }
    
        &-link {
            position: absolute;
            color: white;
            font-size: .9em;
            transition: .5s;
        }
    
    
        &-img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            opacity: .6;   
        } 

        &-text-content {
            position: absolute;
            color: white;
            bottom: 80px;
            left: 20px;  
            width: 100%;  
        }
    }

}

// Size for tablet

@media screen and (min-width: 768px) {

    .card-story-category {
        height: 45vh;

        &-text-content {
            position: absolute;
            color: white;
            bottom: 30px;
            left: 50px;
            
            }
    }




}

// Size for desktop

@media screen and (min-width: 992px) {

    .card-story-category {

        height: 70vh;
         
        &-text-content{
            position: absolute;
            color: white;
            bottom: 150px;
            left: 80px;  
            
             
        }

        &-descrip {
            width: 50%;
        }

        &-title {
            font-size: 2rem;
        }

        &:hover &-title {
            transform: translateY(-45%);
        }
    
        &:hover &-descrip {
            transform: translateY(40%);
            opacity: 1;
        }
    
        &:hover &-link {
            transform: translateY(210%);
        }

        &:hover .cat-title-5 {
            transform: translateY(-55%);

        }
    
        &:hover .cat-link-5 {
            transform: translateY(100%);

        }
    }

    #card-1:target {
        transition: 1s;
        
    }

    
}
