// Size for mobile

@media screen and (min-width:320px) {

    .home {
        background: linear-gradient(-134deg, rgb(149, 81, 160) 0%, rgb(33, 24, 107) 100%);
        position: relative;
        min-height: 100vh;   
    }


    .content {
        display: flex;
        flex-direction: column;
        padding: 5rem 1.5rem;
    }

    .wave {
        width: 100%;
        height: 200px;
        background: url('./Wave.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        bottom:-80px;
        z-index: 0;
    }
    
   
    .intro {
        padding: 1rem 20px 30px;
       
        
        &-content {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            padding-top: 4rem;
        }
    

        &-title {
            color: white;
            text-align: center;
            font-weight: bold;
            font-family: 'Poppins';
            text-transform: uppercase;
            font-size: 2rem;

        }

        &-text {
            color: white;
            text-align: center;
            word-spacing: -1px;
            font-family: 'Poppins';
            
            
        }

        &-button {
            color: white;
            text-align: center;
            width: 80%;
            background-color: transparent;
            border: 1px white solid;
            border-radius: 100px;
            padding: .5rem .9rem;
            margin: 2.2rem auto 3rem;
            transition: .4s;
            display: block;
            
            

            &:hover {
                color: white;
                background-color: #fc5c42;
                border: 1px #fc5c42 solid;
                text-decoration: none;
            }
        }

        &-img--mobile {
            width: 70%;
            position: relative;
            left: 25%;

        }

        &-img--tablet {
            display: none;
            width: 80%;
            position: relative;
            margin-bottom: 1rem;
          

        }
    }

    .card-story {
        height: 50vh;
        position: relative;
        width: 100%;
        background-color: black; 
        margin: 30px auto;
        border-radius: 30px;  
        box-shadow: rgb(82, 82, 82) 5px 5px 30px;
        cursor: pointer;
        transition: .4s;
        padding: 0;
        overflow: hidden;

        &-title {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
            transition: .5s;
        }
    
        &-descrip {
            color: white;
            position: absolute;
            top: 0px;
            transition: .5s;
            opacity: 0;
        }
    
        &-link {
            position: absolute;
            color: white;
            font-size: .9em;
            transition: .5s;
        }
    
    
        &-img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            opacity: .6;   
        } 

        &-text-content {
            position: absolute;
            color: white;
            bottom: 80px;
            left: 20px;    
        }
    }
}

// Size for tablet

@media screen and (min-width: 768px) {

    .home {
      min-height: 950px;  

        
    }

    .content {
        padding: 3rem;
    }

    .wave {
        height: 250px;
        
    }
    .intro {

        &-content {
            flex-wrap: wrap-reverse;
        }

        &-left{
            padding: 0 40px;
        }

        &-title {
            color: white;
            font-size: 2em;
            text-align: left;

        }

        &-text {
            color: white;
            font-size: .95em;
            text-align: left;
            word-spacing: -1px;
        }

        &-button {
            margin-top: 3rem;
            width: 45%;
        }

        &-img {
            margin: auto;
            text-align: center;
        }

        &-img--mobile {
            display: none;
        }

        &-img--tablet {
            display: initial;
        }

        


    }

    .card-story {
        height: 45vh;

        &-text-content {
            position: absolute;
            color: white;
            bottom: 30px;
            left: 50px;
            
            }
    }




}

// Size for desktop

@media screen and (min-width: 992px) {
    .home {
        padding-top: 10rem;
        min-height: 900px;
    }

    .content {
        padding-top: 10rem;
        min-height: 900px;

    }

    .wave {
        width: 100%;
        height: 500px;
        background: url('./Wave.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        bottom:-130px;
        z-index: 0;
    }

    .intro {

        padding: 0;

        &-content {
            flex-wrap: nowrap;
            padding: 20px 20px 0;
        }

        &-left{
            width: 50%;
            padding: 0;
        }

        &-title {
            color: white;
            font-size: 2em;
            text-align: left;
            margin-bottom: 2rem;

        }

        &-text {
            color: white;
            font-size: .9em;
            text-align: left;
            word-spacing: -1px;
            ;
        }

        &-button {
            margin-left: inherit;
            position: relative;
            margin-top:0;
            z-index: 6;
            width: 60%;
            padding: .5rem 3rem;
           
            
        }

        &-img {
            margin: auto;
            text-align: center;
            width: 50%; 
        }

        &-img--image {
            position: relative;
            width: 130%;
            z-index: 1;
            
            
        }

    }


    .card-story {

        height: 70vh;
         
        &-text-content{
            position: absolute;
            color: white;
            bottom: 150px;
            left: 80px;      
        }

        &-title {
            font-size: 2rem;
        }

        &:hover &-title {
            transform: translateY(-45%);
        }
    
        &:hover &-descrip {
            transform: translateY(40%);
            opacity: 1;
        }
    
        &:hover &-link {
            transform: translateY(210%);
        }
    
        &:hover .link-3 {
            transform: translateY(100%);
        }
    }

    #card-1:target {
        transition: 1s;
        
    }
}

