.image {
  display: flex;
  background-size: contain;
}

.contact {
  margin: 2rem;
  display: flex;

  &-form {
    width: 100%;

    &-title {
      margin-top: 1em;
    }
  
    &-input {
      margin-top: 2em;

      &-textarea {
        margin-top: 2em;
      }
    }
 
    &-button {
      float: right;
    }
  }

  &-info {
    align-self: center;
    // 
    margin-left: 1.5em;

    &-text-span {
      margin-left: 1em;
    }
  }
}


@media screen and (max-width: 800px) {
  .contact {
    margin: 2rem;

    &-form {
      width: 150%;

      &-title {
        font-size: 2em;
      }

      &-form {
        width: 100%;
      }
    }

    &-info {
      padding-top: 5em;
      padding-left: 3em;
      margin: 0;
      align-self: flex-start;
    }
  }
}


@media screen and (max-width: 550px) {
  .contact {
    margin: 2rem;
    display: block;

    &-form {
      width: 100%;
    }

    &-info {
      padding-top: 5em;
      padding-left: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .contact {
    margin: 2rem;
    display: block;

    &-form {
      width: 100%;
    }

    &-info {
      padding-top: 5em;
      padding-left: 0;
      margin: 0;
    }
  }
}
