.footer {
    padding-top: 50px;

    &-content {
        margin-bottom: 50px;

    }

    &-text{
        font-size: 14px;

    }

    &-titlelink{
        font-size: 18px;
        font-weight: bold;

    }

    &-link {
        font-size: 16px;

    }

    &-copyright {
        background-color: #F6F8F9;
        padding: 20px;
        border-top: 1px solid #e7eaee;

        
        &--text {
            font-size: 14px;
            margin:0;

        }

        &--link {
            font-size: 14px;
            margin-left: 10px;

        }
    }
}




@media screen and (min-width: 320px) {

    .icon-group {
        margin-bottom: 20px;

    }

    .col {
        //margin: 0 3px;
        padding: 20px;
    
    }

    .footer-text {
        text-align: justify;

    }
    
    .footer-copyright {

        &--nav{
            width: 100%;

        }

        &--link {
            display: block;
            text-align: center;
            margin-bottom: 10px; 

        }

        &--text {
            text-align: center;
            margin: 20px auto 0;

        }

    }

    .form {
        display: flex;
        justify-content: center;
        

        &-input {
            border: 1px solid #cacaca; 
            height: 30px;
            font-size: 16px;
        
        }   

        &-button {
            border: none;
            color: white;
            background-color: blueviolet;
            font-size: 14px;
            height: 30px;
        
        }
    
    }
    
}

@media screen and (min-width: 768px) {
    .col {
        //margin: 0 3px;
        padding: 0 20px;
    
    }
    
    .footer-text {
        text-align: left;

    }

    .form {
        display: block; 
        
        &-button {
            margin-top: 5px;
                
        }
        
    }
        
}
    
  

@media screen and (min-width: 992px) {

    .icon-group {
        margin-bottom: 20px;

    }

    .footer-copyright {

        &--group {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &--nav{
            width: initial;

        }

        &--link {
            display: inline;
            text-align: left;
            
        }

        &--text {
            text-align: center;
            margin: 0;

        }

    }

}
    

    
