body {
  box-sizing: border-box;
}

.writer-background {
  color: #fff;
  text-align: center;
  padding: 6rem 4rem;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23804590' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%237b3f8b' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23763a85' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23713480' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%236c2e7b' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2379317f' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23863583' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23923888' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%239f3c8c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ac3f90' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;
}

.container-box {
  color: #212529;
  background-color: rgba(233,236,239, .9);
  text-align: left;
  border-radius: 0.2rem;
  padding: 2rem 4rem;
  margin-top: 2rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  min-height: 90vh;
}

.title {
  font-size: 3rem;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.lead {
  font-style: italic;
}

h6 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  font-weight: bold;
  color: darkgray;
}

.breadcrumb {
  padding: 0;
  font-size: 1rem;
  background-color: transparent;
}

.form-group {
  margin-top: 2rem;
}

label {
  margin-left: 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-tabs {
  border-bottom: 3px solid #fff;
  justify-content: center;
}

.text-muted {
  margin-left: 0.2rem;
}

.custom-file-label {
  font-size: 1.1rem;
}

.custom-file-label::after {
  content: "Uploader";
}

.publication {
  margin-right: 2rem;
}

.pagination {
  justify-content: center;
  margin-top: 1rem;
}

.columns {
  display: flex;
}

.writer-column {
  width: 49%;
  margin-right: 2rem;
}

.choices-column {
  width: 50%;
}

.choices {
  margin: 0.5rem 0rem;

  &-label {
    background: #343a40;
    width: 10rem;
    border-radius: 0.2rem;
    color: white;
    padding: 0.2rem;
    font-weight: 600;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
    float: left;
  }

  &-icon {
    color: yellow;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  &-fork {
    margin: 0 0 0 2rem;
  
    &-icon {
      color: red;
      font-size: 1.5rem;
    }
  }
}

.separation {
  border: 1px dashed #232323;
}

.add-choice {
  font-size: 1.2rem;
  line-height: 1.1rem;
  text-align: center;
  background: green;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1);
}

.save-choice {
  line-height: 1.2rem;
  margin-left: 0.5rem;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
  float: left;
}


.delete-choice {
  line-height: 1.2rem;
  float: right;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
}

.color-picker {
  margin-bottom: 2rem;
}

.legendColor {
  margin-top: 0.5rem;
}

.card-title {
  position: relative;
  top: 1rem;
  color: #232323;
  margin-bottom: 2rem;
  left: 0;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.card-body {
  margin-top: 2rem;
}

.trash-icon {
  margin-top: 2rem;
  float: left;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1);

  &-mobile {
    display: none;
  }
}

.button-bar {
  display: flex;
  justify-content: flex-end;
}  

.custom-button {
  width: 12rem;
  margin-top: 2rem;
  margin-left: 2rem;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1)
}

@media all and (max-width:629px) {
  h4 {
    font-size: 1.2rem;
  }
  
  .jumbotron {
    padding: 4rem 0.5rem;
  }

  .container-fluid {
    padding: 1.2rem;
  }

  .publication-button {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .publication {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  .columns {
    display: flex;
    flex-flow: column;
  }
  
  .writer-column {
    width: 100%;
  }
  
  .choices-column {
    width: 100%;
  }

  .numberChoices {
    width: 100%;
  }

  .choices-fork {
    margin: 0;
  }

  .button-bar {
    display: flex;
    justify-content: space-between;
  }  
  
  .custom-button {
    width: 9rem;
    margin-top: 2rem;
    margin-left: 0;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1)
  }

  .trash-icon {
    display:none;

    &-mobile {
    display:block;
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1)
    }
  }
}

@media all and (max-width:349px) {
  h4 {
    font-size: 1.2rem;
  }
  
  .breadcrumb {
    font-size: 0.9rem;
  }

  .choices-fork {
    margin: 0;
  }

  .columns {
    display: flex;
    flex-flow: column;
  }
  
  .writer-column {
    width: 100%;
  }
  
  .choices-column {
    width: 100%;
  }

  .numberChoices {
    width: 100%;
  }

  .button-bar {
    display:block;
  }  
  
  .custom-button {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1)
  }

  .custom-file-label {
    font-size: 1rem;
  }

  .publication-button {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .trash-icon {
    display:none;

    &-mobile {
    display:block;
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .1)
    }
  }
}
