.form-group {
  margin-bottom: 2rem;
}

.form-row {
  margin-right: 0px;
  margin-left: 0px;
}

.upload {
  justify-content: space-around;
}

label {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.btn-toolbar {
  margin-top: 2rem;
  justify-content: flex-end;
}

@media all and (max-width:480px) {
  .custom-mobile { width: 100%; display:block; margin-bottom: 2rem; }
}  

.custom-button-width {
	width:150px;
}
.custom-input-width {
	width:150px;
    margin-right:3px;
}

